#include <windows.h>

101 ICON "../assets/icon/rep-player.ico"
#include "../build/resources/app-resources.rc"

1 VERSIONINFO
 FILEVERSION 1,1,1,0
 PRODUCTVERSION 1,1,1,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "FileDescription", "Native REP Player\0"
            VALUE "FileVersion", "1.1.1\0"
            VALUE "InternalName", "rep_player\0"
            VALUE "OriginalFilename", "rep_player.exe\0"
            VALUE "ProductName", "REP Player\0"
            VALUE "ProductVersion", "1.1.1\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
